* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Amatic SC', cursive;
}

.flex-wrapper {
  display: flex;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
}

.fa-hand-paper {
  transform: rotate(90deg);
}

.fa-hand-rock {
  transform: rotate(90deg);
}

.fa-hand-scissors {
  transform: scaleX(-1);
}

.score {
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #666;
}

.score p {
  font-size: 17px;
}

.score p:nth-child(2) {
  width: 80%;
}

.rounds-number {
  text-align: center;
  font-size: 35px;
  color: #B00700;
}

.score-panel {
  justify-content: space-around;
  font-size: 25px;
  margin: 15px auto 0;
  width: 80%;
}

.score-panel .score-panel__element {
  flex-direction: column;
  color: #666;
}

.score-panel .score-panel__element .element__counter {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #000;
}

.game-panel {
  justify-content: space-around;
  margin-top: 50px;
  width: 80%;
  margin: 30px auto;
}

.game-panel .panel {
  border: 2px solid #999;
  background-color: #FCF3F1;
  border-radius: 15px;
  width: 300px;
  height: 400px;
}

.game-panel .player-panel {
  flex-direction: column;
}

.game-panel .player-panel .player-choice {
  justify-content: center;
  flex-grow: 2;
}

.game-panel .player-panel .player-choice .far {
  align-self: center;
  font-size: 95px;
  color: black;
}

.game-panel .player-panel .player-choice img {
  align-self: center;
  width: 25%;
  height: 25%;
  border-radius: 7px;
}

.game-panel .player-panel .select {
  justify-content: space-around;
  align-content: flex-end;
  font-size: 25px;
  margin-bottom: 20px;
}

.game-panel .player-panel .select img {
  width: 70px;
  height: 70px;
  border-radius: 7px;
  cursor: pointer;
}

.game-panel .player-panel .select img:hover {
  opacity: 0.5;
}

.game-panel .player-panel .select .far {
  background-color: #B00700;
  padding: 25px;
  border-radius: 50%;
  margin: 5px;
  color: #fff;
  cursor: pointer;
}

.game-panel .player-panel .select .far:hover {
  background-color: #5c0703;
}

.wrapper {
  flex-direction: column;
}

.wrapper .info-panel {
  height: 80%;
}

.wrapper .info-panel h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
  font-weight: 700;
}

.wrapper .info-panel .round-score {
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 250px;
  overflow: hidden;
}

.wrapper .control-panel {
  height: 20%;
  display: flex;
}

.wrapper .control-panel button {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  width: 300px;
  height: 80%;
  align-self: flex-end;
  border-radius: 15px;
  border: 2px solid #999;
  cursor: pointer;
}

.wrapper .control-panel button:hover {
  background-color: #fff;
}

.ai-panel .ai-choice {
  justify-content: center;
  height: 291px;
}

.ai-panel .ai-choice .far {
  align-self: center;
  font-size: 95px;
  color: black;
}

.ai-panel .ai-choice img {
  align-self: center;
  width: 25%;
  height: 25%;
  border-radius: 7px;
}

/*# sourceMappingURL=style.css.map */